# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
modules/php/Stats.php
work
node_modules
.vscode
# Need to exclude images since they cannot be OSS-licensed.
img
modules/js/Game.js
backup/
local/backup/
package-lock.json
src/bga-framework.d.ts
_ide_helper.php
bga-framework.d.ts
