/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Zooloretto implementation : © Jay Sachs <vagabond@covariant.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zooloretto.css
 *
 * Zooloretto stylesheet
 *
 */

/*
Colors from box cover:
Z          o   #DD9457  ("orange-y")
 o     r       #5F9FCB  (blue)
  o      t     #C87862  (dusty red)
   l    e      #C173A0  (dark pink)
    o     t    #8D9BC3  (lavender grey)
*/

body {
    --zoo-max-tile-size: 78px;

    /* inherent to the truck image */
    --zoo-truck-aspect-ratio: calc(473 / 175);

    /* Goal of tile size of approx 4vw ... */
    --zoo-tile-size: calc(min(var(--zoo-max-tile-size), (100vw - 240px) / 17));

    --bga-game-zoom: 1.0 !important;

}

body[zoo-max-tile-size="78"] {
    --zoo-max-tile-size: 78px;
}

body[zoo-max-tile-size="66"] {
    --zoo-max-tile-size: 66px;
}

body[zoo-max-tile-size="54"] {
    --zoo-max-tile-size: 54px;
}

body[zoo-max-tile-size="42"] {
    --zoo-max-tile-size: 42px;
}

body[zoo-max-tile-size="30"] {
    --zoo-max-tile-size: 30px;
}

body.mobile_version #zoo-game {
    --bga-game-zoom: 1.0 !important;
    /* right-side-width is 0px */
    --zoo-tile-size: calc(min(var(--zoo-max-tile-size), 100vw / 17 / var(--bga-game-zoom)));
}

body.mobile_version #zoo-game.zoo-2p {
    --bga-game-zoom: 1.0 !important;
    --zoo-tile-size: calc(min(var(--zoo-max-tile-size), 100vw / 18.6 / var(--bga-game-zoom)));
    --zoo-board-width: calc(var(--zoo-tile-size) * 13.3);
}

#zoo-game.zoo-2p {
    --zoo-board-width: calc(var(--zoo-tile-size) * 13.3);
    --zoo-tile-size: calc(min(var(--zoo-max-tile-size), (100vw - 240px) / 18.6));
}

#zoo-game {
    /* Trucks are 473 x 175. Tile spots are 108 wide in that image. */
    --zoo-truck-width: calc(3 * var(--zoo-tile-size) *  473/(3 * 118) );

    --zoo-board-width: calc(var(--zoo-tile-size) * 11.6);
    display : flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    margin: 0.8vw;
    --zoo-highlight-width: calc(var(--zoo-tile-size) * 0.1);
    --zoo-drop-shadow-width: calc(var(--zoo-tile-size) * 0.03);
/*    overflow: scroll;
    height: 100vh; */
}

/*
 * Shared components -- draw pile, stock, trucks
 */

#zoo-shared-container {
/*    position: sticky; */
    padding: 0 1vw 1vw 1vw;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid green;
}

#zoo-stock {
    display: flex;
    flex-direction: row;
    margin: 1vw 0 1vw 0;
}

#zoo-primary-pile, #zoo-endgame-pile {
    flex: 2;
    padding: 0 1vw 1vw 1vw;
    position: relative;
}

#zoo-primary-pile-count,#zoo-endgame-pile-count {
    position: relative;
    right: 12%;
    top: 105%;
    text-align: right;
    /* FIXME: revisit this. maybe just width */
    font-size: calc(min(2.5vh,1.0vw));
}

.zoo-pile {
    position: relative;
    display: inline-block;
    aspect-ratio: 1.0;
    width: calc(var(--zoo-tile-size));
    height: auto;
}

.zoo-pile > span {
    position: absolute;
    aspect-ratio: 1.0;
    /** 1.644 is in between what 2p and 2+p needs */
    width: calc(var(--zoo-tile-size));
    height: auto;
    left: 5%;
    top: 20%;
}

.zoo-pile > span:nth-child(1) { left: 25%; top: 0; }
.zoo-pile > span:nth-child(2) { left: 20%; top: 5%; }
.zoo-pile > span:nth-child(3) { left: 15%; top: 10%; }
.zoo-pile > span:nth-child(4) { left: 10%; top: 15%; }

/*
 * Trucks
 */

.zoo-depot-space {
    /* FIXME: these are weird. Would like to do this some other way */
    /* the 1.83 is related to the truck image dimensions, but also affects the flex layout with the boards, which affects the size of the tiles on the board. */
    height: auto;
    width: calc(var(--zoo-truck-width));
    aspect-ratio: calc(var(--zoo-truck-aspect-ratio)) !important;
/*    min-width: calc(4 * (var(--zoo-tile-size))); */
    margin: 1vw 0 1vw 0;
    position: relative;
}

#zoo-shared-container .zoo-depot-space {
    background: url('img/TruckSpot.png') center / contain no-repeat;
}

.zoo-truck {
    aspect-ratio: calc(var(--zoo-truck-aspect-ratio)) !important;
    display: flex;
    background: url('img/Truck.png') center / contain no-repeat;
}

/* truck cells */
.zoo-truck > div {
    position: relative;
    /* need to specify height explicitly, auto causes it to be the height of the truck */
    height: 68%;
    width: auto;
    aspect-ratio: 1.0 !important;
    margin-top: 5%;
}

/* These don't depend on tile size, just the relative dimension of trucks.
   The formula was not derived, just fits */
.zoo-truck > div:nth-child(1) {
    left: calc(100% * (2 * 1 * (11 + 1)) / 473);
}
.zoo-truck > div:nth-child(2) {
    left: calc(100% * (2 * 2 * (11 + 2)) / 473);
}
.zoo-truck > div:nth-child(3) {
    left: calc(100% * (2 * 3 * (11 + 3)) / 473);
}



/*
 * Player boards
 */
#zoo-boards {
    flex-shrink: 1.0;
    width: auto;
    flex-grow: 0;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-right: 1em;
    row-gap: 2em;
    column-gap: 2em;
}

.zoo-board {
/*    margin: 2%; */
    /* this is important since enclosures are positioned relative to this. */
    position: relative;
    background: url('img/Board0.png') center / contain no-repeat;
    transition: background-image 1s ease-in-out;
    aspect-ratio: 1;

    width: calc(var(--zoo-board-width));
}

.zoo-board[zoo-extensions="1"] {
    background-image: url('img/Board1.png');
}

#zoo-game.zoo-2p .zoo-board {
    aspect-ratio: 1097 / 899 !important;
    width: calc(var(--zoo-board-width));
    /* width: 100%; */
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="0"] {
    background-image: url('img/Board20.png');
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="1"] {
    background-image: url('img/Board21.png');
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="2"] {
    background-image: url('img/Board22.png');
}


.zoo-playerboard {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 10px;
    align-items: left;
}

.zoo-playername {
    /*
    padding-top: 0%;
    padding-bottom: 0%;
*/
    text-align: left;
    padding: 5px;
    margin: 0.25em;
    vertical-align: top;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 6px 6px 0 0;
}

[zoo-mark="selected"] {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) #2f5cc3;
}

@keyframes selected {
    from {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    50% {
        opacity: 80%;
    }
    80% {
        opacity: 0%;
    }
    to {
        opacity: 0%;
    }
}

#zoo-game.zoo-indicators [zoo-mark="selectable"]::after {
    content: '\2726';
    filter: brightness(125%);
    display: inline !important;
    opacity: 60%;
    font-size: calc(0.33 * var(--zoo-tile-size));
    z-index: 10;
    color: orange;
    position: absolute !important;
    top: 0;
    left: 0;
    animation: 3s infinite alternate selected;
    animation-timing-function: linear;
}

[zoo-mark="selectable"] {
    cursor: pointer;
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) #ffffee;
}


[zoo-mark="selectable"]:hover {
    cursor: pointer;
    filter: contrast(150%);
    /*
    transition-property: filter background-image box-shadow;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier;
*/
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) yellow;
}

.zoo-flash {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) rgb(188, 26, 8) !important;
}

[zoo-tile] {
    /* round the corners */
    border-radius: 5% 5%;
    border: 0 solid;

    /* this sort of makes sense */
    display: inline-block;
    width: 100%;
    height: 100%;

    filter:
        drop-shadow(calc(var(--zoo-drop-shadow-width)) calc(-1 * var(--zoo-drop-shadow-width)) #573404)
    ;

    background-image: url('img/Tiles.png');
    /* basically corresponds to number of columns in the sprite */
    background-size: 600% 600%;
}

[zoo-tile="back"],[zoo-tile="block"] {
    /* differ from tile */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/Back.png');
}

/* This mimics [zoo-tile="back"] (plus the basic [zoo-tile]),
   allowing "slideOffAndDestroy" to work properly. */
.zoo-disk {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/Disk.png');
}

/* offspring tiles are actually round */
[zoo-tile="CK"],
[zoo-tile="EK"],
[zoo-tile="FK"],
[zoo-tile="KK"],
[zoo-tile="LK"],
[zoo-tile="MK"],
[zoo-tile="PK"]
[zoo-tile="ZK"]
{
    border-radius: 70% 70%;
}

[zoo-tile="C"]
{
    background-position: 0% 0%;
}
[zoo-tile="CF"]
{
    background-position: 20% 0%;
}
[zoo-tile="CM"]
{
    background-position: 40% 0%;
}
[zoo-tile="CK"]
{
    background-position: 60% 0%;
}
[zoo-tile="E"]
{
    background-position: 80% 0%;
}
[zoo-tile="EF"]
{
    background-position: 100% 0%;
}
[zoo-tile="EM"]
{
    background-position: 0% 20%;
}
[zoo-tile="EK"]
{
    background-position: 20% 20%;
}
[zoo-tile="F"]
{
    background-position: 40% 20%;
}
[zoo-tile="FF"]
{
    background-position: 60% 20%;
}
[zoo-tile="FM"]
{
    background-position: 80% 20%;
}
[zoo-tile="FK"]
{
    background-position: 100% 20%;
}
[zoo-tile="K"]
{
    background-position: 0% 40%;
}
[zoo-tile="KF"]
{
    background-position: 20% 40%;
}
[zoo-tile="KM"]
{
    background-position: 40% 40%;
}
[zoo-tile="KK"]
{
    background-position: 60% 40%;
}
[zoo-tile="L"]
{
    background-position: 80% 40%;
}
[zoo-tile="LF"]
{
    background-position: 100% 40%;
}
[zoo-tile="LM"]
{
    background-position: 0% 60%;
}
[zoo-tile="LK"]
{
    background-position: 20% 60%;
}
[zoo-tile="M"]
{
    background-position: 40% 60%;
}
[zoo-tile="MF"]
{
    background-position: 60% 60%;
}
[zoo-tile="MM"]
{
    background-position: 80% 60%;
}
[zoo-tile="MK"]
{
    background-position: 100% 60%;
}
[zoo-tile="P"]
{
    background-position: 0% 80%;
}
[zoo-tile="PF"]
{
    background-position: 20% 80%;
}
[zoo-tile="PM"]
{
    background-position: 40% 80%;
}
[zoo-tile="PK"]
{
    background-position: 60% 80%;
}
[zoo-tile="Z"]
{
    background-position: 80% 80%;
}
[zoo-tile="ZF"]
{
    background-position: 100% 80%;
}
[zoo-tile="ZM"]
{
    background-position: 0% 100%;
}
[zoo-tile="ZK"]
{
    background-position: 20% 100%;
}
[zoo-tile="StallA"]
{
    background-position: 40% 100%;
}
[zoo-tile="StallB"]
{
    background-position: 60% 100%;
}
[zoo-tile="StallC"]
{
    background-position: 80% 100%;
}
[zoo-tile="StallD"]
{
    background-position: 100% 100%;
}

[zoo-tile="Coin"]
{
    background: url('img/Coin.png') center / contain no-repeat;
}

.playeraidIT
{
    background-image: url('img/SummaryIT.png');
}
.playeraidEN
{
    background-image: url('img/SummaryEN.png');
}
.playeraidFR
{
    background-image: url('img/SummaryFR.png');
}
.playeraidDE
{
    background-image: url('img/SummaryDE.png');
}

.zoo-barn,.zoo-barn-2p {
    /* FIXME: these depend on tile size! */
    top: 82%;
    height: 15%;
    position: absolute;

    /*
    background-color: red;
    opacity: 0.4;
    */
}

/* FIXME: these MAY depend on tile size! */
.zoo-barn {
    left: 20%;
    width: 40%;
}

.zoo-barn-2p {
    left: 34.383661599999996%;
    width: 32.80816922%;
}


.zoo-cell {
    /* Note these are relative to the image size of the boards. */
    height: calc(var(--zoo-tile-size)) /* 9% */;
    width: auto;
    aspect-ratio: 1.0 !important;
    position: absolute;
}


#zoo-game.zoo-debug .zoo-cell { opacity: 0.5; }
#zoo-game.zoo-debug [zoo-enclosure="1"] .zoo-cell {  background-color: orange; }
#zoo-game.zoo-debug [zoo-enclosure="2"] .zoo-cell {  background-color: blue; }
#zoo-game.zoo-debug [zoo-enclosure="3"] .zoo-cell {  background-color: yellow; }
#zoo-game.zoo-debug [zoo-enclosure="4"] .zoo-cell {  background-color: purple; }
#zoo-game.zoo-debug [zoo-enclosure="5"] .zoo-cell {  background-color: red; }


#zoo-game .zoo-board [zoo-enclosure="0"] {
    position: absolute;
    height: 50%;
    top: 50%;

    display : grid;
    column-gap: calc(var(--zoo-highlight-width) * 4);
    row-gap: calc(var(--zoo-highlight-width) * 4);
    grid-template-columns: 1fr 1fr 1fr;

    /* these differ for 2p boards */
    width: 35%;
    margin: 0.5vw;
    left: 23.5%;
}

#zoo-game.zoo-2p .zoo-board [zoo-enclosure="0"] {
    margin: 0.4vw;
    width: 28%;
    left: 38%;
}

[zoo-enclosure="0"] .zoo-cell {
    position: static;
}

[zoo-extension] {
    position: absolute;
    top: 42.5%;
    height: 18.5%;
    width: 19%;
    z-index: 100;
}

#zoo-game.zoo-2p [zoo-extension] {
    width: 15%;
}

#zoo-game [zoo-extension="1"] { left: 1%; }

.zoo-board[zoo-extensions="1"] [zoo-extension="1"] { z-index: -100; }
.zoo-board[zoo-extensions="2"] [zoo-extension="1"] { z-index: -100; }
.zoo-board[zoo-extensions="2"] [zoo-extension="2"] { z-index: -100; }

#zoo-game.zoo-2p [zoo-extension="1"] { left: 19.25%; }
#zoo-game.zoo-2p [zoo-extension="2"] { left: 1.5%; }

/* FIXME: these depend on tile size! */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(1) { left: 52.182093391%; top: 10.3%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(2) { left: 41.355397555%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(3) { left: 52.182093391%; top: 21.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(4) { left: 39.30488698%; top: 34%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(5) { left: 49.96754197%; top: 32%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(6) { left: 38.074580635%; top: 7.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(1) { left: 70.636688566%; top: 7.3%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(2) { left: 72.523158295%; top: 18%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(3) { left: 68.83223926%; top: 28.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(4) { left: 77.85448579%; top: 34.5%; }
/* stalls */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(5) { left: 86.548650628%; top: 7.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(6) { left: 86.548650628%; top: 18%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(1) { left: 72.11305618%; top: 51.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(2) { left: 84.662180899%; top: 54.8%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(3) { left: 74.409628024%; top: 62%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(4) { left: 83.103792862%; top: 65.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(5) { left: 72.11305618%; top: 72.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(6) { left: 73.097301256%; top: 83.6%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(7) { left: 86.548650628%; top: 83.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(1) { left: 23.967067879%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(2) { left: 25.36141507%; top: 34.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(3) { left: 23.967067879%; top: 44.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(4) { left: 25.36141507%; top: 55.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(5) { left: 23.967067879%; top: 66.2%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(6) { left: 23.967067879%; top: 83.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(1) { left: 5.987490879%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(2) { left: 7.38183807%; top: 34.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(3) { left: 5.987490879%; top: 44.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(4) { left: 7.38183807%; top: 55.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(5) { left: 5.987490879%; top: 66.2%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(6) { left: 5.987490879%; top: 83.5%; }


.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(1) { left: 41.7%; top: 10.3%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(2) { left: 28.5%; top: 23.5%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(3) { left: 41.7%; top: 21.2%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(4) { left: 26%; top: 34%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(5) { left: 39%; top: 32%; }
/* stall */
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(6) { left: 24.5%; top: 7.5%; }

.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(1) { left: 64.2%; top: 7.3%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(2) { left: 66.5%; top: 18%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(3) { left: 62%; top: 28.5%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(4) { left: 73%; top: 34.5%; }
/* stall */
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(5) { left: 83.6%; top: 7.5%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(6) { left: 83.6%; top: 18%; }

.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(1) { left: 66%; top: 51.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(2) { left: 81.3%; top: 54.8%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(3) { left: 68.8%; top: 62%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(4) { left: 79.4%; top: 65.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(5) { left: 66%; top: 72.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(6) { left: 67.2%; top: 83.6%; }
/* stall */
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(7) { left: 83.6%; top: 83.5%; }

.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(1) { left: 7.3%; top: 23.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(2) { left: 9%; top: 34.2%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(3) { left: 7.3%; top: 44.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(4) { left: 9%; top: 55.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(5) { left: 7.3%; top: 66.2%; }
/* stall */
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(6) { left: 7.3%; top: 83.5%; }


/*
 * Player panels
 */

.zoo-money-label {
    height: 1.5em;
    width: auto;
    aspect-ratio: 1;
    background-image: url('img/Money.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.zoo-money {
    flex: 1 1 auto;
    display:flex;
    width: auto;
}

.player-board-game-specific-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 4px;
}

.zoo-player-panel-general  {
    display:flex;
    flex-direction: column;
    width: auto;
    gap: 5px;
}

.zoo-player-panel-board-summary {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: auto;
    justify-content: right;
    background-color: #408741;
}

.zoo-player-panel-board-summary > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zoo-player-panel-board-summary > div > span > span {
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
}

.zoo-player-panel-board-summary > div > span {
    flex: 0 0 auto;
    position: relative;
    font-size: 75%;
    aspect-ratio: 1.0;
    height: 2em;
    width: auto;
    border: dotted 1px black;
}

.zoo-player-panel-board-summary > div > span[zoo-tile=""] {
    background-image: none;
}

.zoo-player-panel-general .zoo-truck {
    height: 1.5em;
}

.zoo-player-panel-general .zoo-depot-space .zoo-truck > div {
    width: 23%;
    height: auto;
}

.zoo-player-panel-general .zoo-depot-space {
    flex: 1;
    height: 1.5em;
    width: auto;
    margin: 0vw;
}

/*
 * score sheet styling
 */

.zoo-score-sheet table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px auto;
    border-collapse: collapse;
}

.zoo-score-sheet tr:nth-child(odd) {
  background-color: #eeeeee;
}

.zoo-score-sheet table {
    width: 100%;
}

.zoo-score-sheet table tr :nth-child(1) {
    text-align: left;
    width: 50%;
}

.zoo-score-sheet tr :nth-child(2),
.zoo-score-sheet tr :nth-child(3)
{
    text-align: right;
    width: 25%;
}

.zoo-score-sheet th,
.zoo-score-sheet td {
    padding: 0.8em;
    vertical-align: top;
    border: 1px solid black;
}


.zoo-score-sheet {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #dddddd;
    border: 3px solid black;
    border-radius: 10px 10px;
}

th.bga-score-sheet_player-name {
    padding-right: 0.6em;
}

.zoo-score-sheet [data-entry="total"] {
    font-size: 16pt;
    padding: 0.6em;
    text-align: right;
}

.zoo-score-entries-label {
    font-size: 12pt;
}

.bga-score-sheet_entry-label, .bga-score-sheet_player-score-entry {
    height: auto !important;
}

.zoo-box {
    visibility: hidden;
}

/*
 * Icons in log
 */

.log [zoo-tile],
#pagemaintitletext [zoo-tile] {
    height: 2.0em;
    width: auto;
    aspect-ratio: 1;
    vertical-align: bottom;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.log .zoo-money-label {
    height: 2.0em;
    width: auto;
    aspect-ratio: 1;
    vertical-align: bottom;
    display: inline-block;
    background-image: url('img/Money.png');
    background-size: contain;
    background-repeat: no-repeat;
}
