/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Zooloretto implementation : © Jay Sachs <vagabond@covariant.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * zooloretto.css
 *
 * Zooloretto stylesheet
 *
 */

body {
    /*
      The right-side panel is a fixed 240px in width (yecch).
      45.4% * (100vw - 240px) is width of board
      9% of that is width of tile
     */
    --zoo-tile-size: calc(0.454 * (100vw - 240px) * 0.09);
    --zoo-truck-aspect-ratio: calc(473 / 175);
}

body.mobile_version {
    /* right-side-width is 0px (effectively) */
    --zoo-tile-size: calc(0.454 * 100vw * 0.09);
}

#zoo-game {
    display : flex;
    flex-direction: row-reverse;
    column-gap: 0.5vw;
    margin-right: 0.2vw;
    --zoo-highlight-width: calc(var(--zoo-tile-size) * 0.1);
    --zoo-drop-shadow-width: calc(var(--zoo-tile-size) * 0.05);
}


/*
 * Shared components -- draw pile, bank money, trucks
 */

#zoo-shared-container {
    padding: 0.2vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#zoo-stock-and-bank {
    display: flex;
    flex-direction: row;
}

#zoo-bank {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url('img/Money.png') center / 70% no-repeat;
}

#zoo-bank-money {
    color: white;
    font-style: bold;
    font-weight: bold;
    font-size: 1.5vw;
    display: flex;
}

#zoo-stock, #zoo-endgame-stock {
    flex: 2;
    padding: 0.5%;
    position: relative;
}

#zoo-pile-count,#zoo-endgame-pile-count {
    position: relative;
    right: 1em;
    top: -1.5em;
    text-align: right;
}

.zoo-pile {
    position: relative;
    display: inline-block;
    aspect-ratio: 1.0;
    width: calc(var(--zoo-tile-size) * 1.83);
    height: auto;
}

.zoo-pile > span {
    position: absolute;
    aspect-ratio: 1.0;
    width: calc(1.244 * var(--zoo-tile-size));
    height: auto;
}

.zoo-pile > span:nth-child(1) { left: 25%; top: 0; }
.zoo-pile > span:nth-child(2) { left: 20%; top: 5%; }
.zoo-pile > span:nth-child(3) { left: 15%; top: 10%; }
.zoo-pile > span:nth-child(4) { left: 10%; top: 15%; }
.zoo-pile > span:nth-child(5) { left: 5%; top: 20%; }
/* #zoo-pile > span:nth-child(6) { left: -2.5vw; margin-top: 2.5vw; } */


/*
 * Trucks
 */

.zoo-depot-space {
    /* FIXME: these are weird. Would like to do this some other way */
    /* the 1.83 is related to the truck image dimensions, but also affects the flex layout with the boards, which affects the size of the tiles on the board. */
    height: calc(1.83 * (var(--zoo-tile-size)));
    width: auto;
    aspect-ratio: calc(var(--zoo-truck-aspect-ratio));
/*    min-width: calc(4 * (var(--zoo-tile-size))); */
    margin: 1vw;
}

#zoo-shared-container .zoo-depot-space:not(:has(div)) {
    background: url('img/TruckSpot.png') center / contain no-repeat;
}

.zoo-truck {
    /* replicate these three here so we see it when it slides */
    height: calc(1.83 * (var(--zoo-tile-size)));
    width: auto;
    aspect-ratio: calc(var(--zoo-truck-aspect-ratio));
    display: flex;
    background: url('img/Truck.png') center / contain no-repeat;
    aspect-ratio: inherit;
}

/* truck cells */
.zoo-truck > div {
    position: relative;
    /* need to specify height explicitly, auto causes it to be the height of the truck */
    height: 68%;
    width: auto;
    aspect-ratio: 1.0 !important;
    top: 16%;
}

/* These don't depend on tile size, just the relative dimension of trucks.
   The formula was not derived, just fits */
.zoo-truck > div:nth-child(1) {
    left: calc(100% * (2 * 1 * (11 + 1)) / 473);
}
.zoo-truck > div:nth-child(2) {
    left: calc(100% * (2 * 2 * (11 + 2)) / 473);
}
.zoo-truck > div:nth-child(3) {
    left: calc(100% * (2 * 3 * (11 + 3)) / 473);
}



/*
 * Player boards
 */

#zoo-boards {
    flex: 10;
    display : flex;
    flex-direction: column;
}

.zoo-board {
    margin: 2%;
    /* FIXME: this is tied to the %ages of the board width, and also margins */
    width: 73.74%;
    /* this is important since enclosures are positioned relative to this. */
    position: relative;
    background: url('img/Board0.png') center / contain no-repeat;
    transition: background-image 1s ease-in-out;
    aspect-ratio: 1;
}

.zoo-board[zoo-extensions="1"] {
    background-image: url('img/Board1.png');
}

#zoo-game.zoo-2p .zoo-board {
    aspect-ratio: 1097 / 899 !important;
    width: 90%;
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="0"] {
    background-image: url('img/Board20.png');
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="1"] {
    background-image: url('img/Board21.png');
}

#zoo-game.zoo-2p .zoo-board[zoo-extensions="2"] {
    background-image: url('img/Board22.png');
}


.zoo-playerboard {
    display : flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px 10px;
    align-items: center;
}

.zoo-playername {
    padding-top: 0%;
    padding-bottom: 0%;
}

.zoo-moved {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) #A022A5;
}

.zoo-selected {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) #ffbb44;
}

.zoo-selectable {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) yellow;
}

.zoo-targetable {
    box-shadow: 0px 0px calc(var(--zoo-highlight-width)) calc(var(--zoo-highlight-width)) blue;
}


.backtransition
{
    transition: background-image 1s;
    z-index: 20;
}

[zoo-tile] {
    /* round the corners */
    border-radius: 5% 5%;
    border: 0 solid;

    /* this sort of makes sense */
    display: inline-block;
    width: 100%;
    height: 100%;

    filter:
        drop-shadow(calc(var(--zoo-drop-shadow-width)) calc(-1 * var(--zoo-drop-shadow-width)) #573404)
    ;

    background-image: url('img/Tiles.png');
    /* basically corresponds to number of columns in the sprite */
    background-size: 600% 600%;
}

[zoo-tile="back"],[zoo-tile="block"] {
    /* differ from tile */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/Back.png');
}

#zoo-disk {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/Disk.png');
}

/* offspring tiles are actually round */
[zoo-tile="CK"],
[zoo-tile="EK"],
[zoo-tile="FK"],
[zoo-tile="KK"],
[zoo-tile="LK"],
[zoo-tile="MK"],
[zoo-tile="PK"]
[zoo-tile="ZK"]
{
    border-radius: 70% 70%;
}

[zoo-tile="C"]
{
    background-position: 0% 0%;
}
[zoo-tile="CF"],[zoo-tile="CFR"]
{
    background-position: 20% 0%;
}
[zoo-tile="CM"],[zoo-tile="CMR"]
{
    background-position: 40% 0%;
}
[zoo-tile="CK"]
{
    background-position: 60% 0%;
}
[zoo-tile="E"]
{
    background-position: 80% 0%;
}
[zoo-tile="EF"],[zoo-tile="EFR"]
{
    background-position: 100% 0%;
}
[zoo-tile="EM"],[zoo-tile="EMR"]
{
    background-position: 0% 20%;
}
[zoo-tile="EK"]
{
    background-position: 20% 20%;
}
[zoo-tile="F"]
{
    background-position: 40% 20%;
}
[zoo-tile="FF"],[zoo-tile="FFR"]
{
    background-position: 60% 20%;
}
[zoo-tile="FM"],[zoo-tile="FMR"]
{
    background-position: 80% 20%;
}
[zoo-tile="FK"]
{
    background-position: 100% 20%;
}
[zoo-tile="K"]
{
    background-position: 0% 40%;
}
[zoo-tile="KF"],[zoo-tile="KFR"]
{
    background-position: 20% 40%;
}
[zoo-tile="KM"],[zoo-tile="KMR"]
{
    background-position: 40% 40%;
}
[zoo-tile="KK"]
{
    background-position: 60% 40%;
}
[zoo-tile="L"]
{
    background-position: 80% 40%;
}
[zoo-tile="LF"],[zoo-tile="LFR"]
{
    background-position: 100% 40%;
}
[zoo-tile="LM"],[zoo-tile="LMR"]
{
    background-position: 0% 60%;
}
[zoo-tile="LK"]
{
    background-position: 20% 60%;
}
[zoo-tile="M"]
{
    background-position: 40% 60%;
}
[zoo-tile="MF"],[zoo-tile="MFR"]
{
    background-position: 60% 60%;
}
[zoo-tile="MM"],[zoo-tile="MMR"]
{
    background-position: 80% 60%;
}
[zoo-tile="MK"]
{
    background-position: 100% 60%;
}
[zoo-tile="P"]
{
    background-position: 0% 80%;
}
[zoo-tile="PF"],[zoo-tile="PFR"]
{
    background-position: 20% 80%;
}
[zoo-tile="PM"],[zoo-tile="PMR"]
{
    background-position: 40% 80%;
}
[zoo-tile="PK"]
{
    background-position: 60% 80%;
}
[zoo-tile="Z"]
{
    background-position: 80% 80%;
}
[zoo-tile="ZF"],[zoo-tile="ZFR"]
{
    background-position: 100% 80%;
}
[zoo-tile="ZM"],[zoo-tile="ZMR"]
{
    background-position: 0% 100%;
}
[zoo-tile="ZK"]
{
    background-position: 20% 100%;
}
[zoo-tile="StallA"]
{
    background-position: 40% 100%;
}
[zoo-tile="StallB"]
{
    background-position: 60% 100%;
}
[zoo-tile="StallC"]
{
    background-position: 80% 100%;
}
[zoo-tile="StallD"]
{
    background-position: 100% 100%;
}

[zoo-tile="Coin"]
{
    background: url('img/Coin.png') center / contain no-repeat;
}

.playeraidIT
{
    background-image: url('img/SummaryIT.png');
}
.playeraidEN
{
    background-image: url('img/SummaryEN.png');
}
.playeraidFR
{
    background-image: url('img/SummaryFR.png');
}
.playeraidDE
{
    background-image: url('img/SummaryDE.png');
}

.zoo-barn,.zoo-barn-2p {
    /* FIXME: these depend on tile size! */
    top: 82%;
    height: 15%;
    position: absolute;

    /*
    background-color: red;
    opacity: 0.4;
    */
}

/* FIXME: these MAY depend on tile size! */
.zoo-barn {
    left: 20%;
    width: 40%;
}

.zoo-barn-2p {
    left: 34.383661599999996%;
    width: 32.80816922%;
}


.zoo-cell {
    /* Note these are relative to the image size of the boards. */
    width: 9%;
    height: auto;
    aspect-ratio: 1.0;
    position: absolute;
}

#zoo-game.zoo-2p .zoo-board .zoo-cell {
    width: 7.38%;
}



#zoo-game.zoo-debug .zoo-cell { opacity: 0.5; }
#zoo-game.zoo-debug [zoo-enclosure="1"] .zoo-cell {  background-color: orange; }
#zoo-game.zoo-debug [zoo-enclosure="2"] .zoo-cell {  background-color: blue; }
#zoo-game.zoo-debug [zoo-enclosure="3"] .zoo-cell {  background-color: yellow; }
#zoo-game.zoo-debug [zoo-enclosure="4"] .zoo-cell {  background-color: purple; }
#zoo-game.zoo-debug [zoo-enclosure="5"] .zoo-cell {  background-color: red; }


#zoo-game.zoo-2p .zoo-board [zoo-enclosure='0'] {
    position: relative;
    width: 28%;
    height: 50%;
    top: 50%;
    left: 38%;
    display : grid;
    column-gap: calc(var(--zoo-highlight-width) * 5);
    row-gap: calc(var(--zoo-highlight-width) * 5);
    grid-template-columns: 1fr 1fr 1fr;
}

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='0'] .zoo-cell {
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    position: static;
}

/* FIXME: these depend on tile size! */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(1) { left: 52.182093391%; top: 10.3%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(2) { left: 41.355397555%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(3) { left: 52.182093391%; top: 21.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(4) { left: 39.30488698%; top: 34%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(5) { left: 49.96754197%; top: 32%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(6) { left: 38.074580635%; top: 7.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(1) { left: 70.636688566%; top: 7.3%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(2) { left: 72.523158295%; top: 18%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(3) { left: 68.83223926%; top: 28.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(4) { left: 77.85448579%; top: 34.5%; }
/* stalls */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(5) { left: 86.548650628%; top: 7.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(6) { left: 86.548650628%; top: 18%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(1) { left: 72.11305618%; top: 51.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(2) { left: 84.662180899%; top: 54.8%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(3) { left: 74.409628024%; top: 62%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(4) { left: 83.103792862%; top: 65.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(5) { left: 72.11305618%; top: 72.6%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(6) { left: 73.097301256%; top: 83.6%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(7) { left: 86.548650628%; top: 83.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(1) { left: 23.967067879%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(2) { left: 25.36141507%; top: 34.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(3) { left: 23.967067879%; top: 44.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(4) { left: 25.36141507%; top: 55.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(5) { left: 23.967067879%; top: 66.2%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(6) { left: 23.967067879%; top: 83.5%; }

#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(1) { left: 5.987490879%; top: 23.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(2) { left: 7.38183807%; top: 34.2%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(3) { left: 5.987490879%; top: 44.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(4) { left: 7.38183807%; top: 55.5%; }
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(5) { left: 5.987490879%; top: 66.2%; }
/* stall */
#zoo-game.zoo-2p .zoo-board [zoo-enclosure='5'] .zoo-cell:nth-child(6) { left: 5.987490879%; top: 83.5%; }


#zoo-game .zoo-board [zoo-enclosure='0'] {
    position: relative;
    width: 35%;
    height: 50%;
    top: 50%;
    left: 23.5%;
    display : grid;
    column-gap: calc(var(--zoo-highlight-width) * 6);
    row-gap: calc(var(--zoo-highlight-width) * 6);
    grid-template-columns: 1fr 1fr 1fr;
}

#zoo-game .zoo-board [zoo-enclosure='0'] .zoo-cell {
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    position: static;
}

.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(1) { left: 41.7%; top: 10.3%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(2) { left: 28.5%; top: 23.5%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(3) { left: 41.7%; top: 21.2%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(4) { left: 26%; top: 34%; }
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(5) { left: 39%; top: 32%; }
/* stall */
.zoo-board [zoo-enclosure='1'] .zoo-cell:nth-child(6) { left: 24.5%; top: 7.5%; }

.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(1) { left: 64.2%; top: 7.3%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(2) { left: 66.5%; top: 18%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(3) { left: 62%; top: 28.5%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(4) { left: 73%; top: 34.5%; }
/* stall */
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(5) { left: 83.6%; top: 7.5%; }
.zoo-board [zoo-enclosure='2'] .zoo-cell:nth-child(6) { left: 83.6%; top: 18%; }

.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(1) { left: 66%; top: 51.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(2) { left: 81.3%; top: 54.8%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(3) { left: 68.8%; top: 62%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(4) { left: 79.4%; top: 65.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(5) { left: 66%; top: 72.6%; }
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(6) { left: 67.2%; top: 83.6%; }
/* stall */
.zoo-board [zoo-enclosure='3'] .zoo-cell:nth-child(7) { left: 83.6%; top: 83.5%; }

.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(1) { left: 7.3%; top: 23.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(2) { left: 9%; top: 34.2%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(3) { left: 7.3%; top: 44.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(4) { left: 9%; top: 55.5%; }
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(5) { left: 7.3%; top: 66.2%; }
/* stall */
.zoo-board [zoo-enclosure='4'] .zoo-cell:nth-child(6) { left: 7.3%; top: 83.5%; }


/*
 * Player panels
 */

.zoo-money-label {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-image: url('img/Money.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.zoo-money {
    flex: 1;
    display:flex;
    width: auto;
}

.zoo-player-panel-ext  {
    display:flex;
    width: auto;
}

.zoo-player-panel-ext .zoo-truck {
    width: auto;
    height: 100%;
    top: 10%;
}

.zoo-player-panel-ext .zoo-depot-space .zoo-truck > div {
    width: 23%;
    height: auto;
}

.zoo-player-panel-ext .zoo-depot-space {
    flex: 1;
    height: 1.5em;
    min-width: inherit;
    margin: 0vw;
}
